server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/TamaraCerna/inventario-herrameintas-2.git
          search-paths: "config-data"